<div id="navbar">
    <div class="nav-container">
        <button mat-raised-button color="basic" routerLink="/movies" class="app-title">
            myFlix
        </button>
        <div>
            <button mat-raised-button color="basic" routerLink="/profile" style="margin-right: 20px">
                Profile
            </button>
            <button mat-raised-button color="basic" (click)="logoutUser()" routerLink="/">
                Logout
            </button>
        </div>
    </div>
</div>