button {
  margin-top: 5px;
  border: 1px solid black;
}

.delete-profile {
  margin-top: 5px;
  border: 1px solid black;
  background-color: #7e0000;
}

.profile-info {
  background-color: #e5e5e5;
  border: 1px solid black;
}

.user-profile {
  display: flex;
  justify-content: center;
}
